/*
 ______________________________________________
|                                              |
|     DEFAULT BODY, ROOT AND OTHER TAG CSS     |
|______________________________________________|

*/

:root {
  --green-shades:#34fc8f;
  --blue-shades: #348bfc;
  --red-shades:  #fd3460;
  --green-alpha: rgba(37, 192, 107, 0.95);
  --blue-alpha:  rgba(52, 139, 252, 0.8);
  --red-alpha:   rgba(252, 52, 95, 0.8);
  --border-color:#c2c9d6;
  --card-color:  rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 22rem;
  width: 30rem;
}

h1 {
  margin: 0rem;
}

p {
  margin: 0rem 0rem 1rem 0rem;
  font-size: 0.9rem;
}

h4 {
  margin: 0rem 0.5rem;
  padding: 0.5rem 0rem;
}

button {
  width: 10rem;
  margin: 0;
  padding: 8px;
  border: none;
  font-size: 1rem;
  color: white;
}

button:hover,
button:focus,
option:hover,
option:focus {
  cursor: pointer;
  outline: none;
}

/*
 ______________________________________________
|                                              |
|              UTILITIES CLASS                 |
|______________________________________________|

*/
.container {
  box-shadow: 0 4px 8px 0 var(--card-color);
  width: 30rem;
  margin: 4rem auto;
  left: auto;
  right: auto;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 8px 16px 0 var(--card-color);
}

.imageContainer {
  border-bottom: 1px solid;
  border-bottom-color: var(--border-color);
}

.details {
  margin: 1rem;
}

.label-score {
  display: inline-block;
}

#playto {
  border-radius: 0.5rem;
  background-color: white;
}

#playto * {
  border-radius: 15px;
  background-color: white;
  opacity: 0.5;
}

#playto:hover {
  cursor: pointer;
}

#playto:focus {
  outline: none;
}

.buttons {
  font-size: 0;
}

.btn-1 {
  background-color: var(--green-shades);
}

.btn-1:hover {
  background-color: var(--green-alpha);
}

.btn-2 {
  background-color: var(--blue-shades);
}

.btn-2:hover {
  background-color: var(--blue-alpha);
}

.btn-3 {
  background-color: var(--red-shades);
}

.btn-3:hover {
  background-color: var(--red-alpha);
}

/* footer */

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  justify-content: space-evenly;
  background: var(--red-shades);
  color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 0em 1em;
}

.socialMedia {
  margin-top: 1em;
}
.text {
  margin-bottom: 0.5em;
}

.copyText {
  margin-top: 0.5em;
}

.socialMedia a {
  margin: 0.5em;
  text-decoration: none;
}

.socialMedia i {
  color: white;
}

/*
 ______________________________________________
|                                              |
|           CLASSES FOR JAVASCRIPT             |
|______________________________________________|

*/


.btn-text {
  font-size: 1rem;
  transition: ease-in-out 100ms;
}

.btn-text:hover {
  font-size: 0.9rem;
}

.winColor {
  color: var(--green-shades);
}

.looserColor {
  color: var(--red-shades);
}

.btn1Disabled {
  background-color: var(--green-alpha);
}

.btn2Disabled {
  background-color: var(--blue-alpha);
}

